<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Techno</title>
    <script src="./vue.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">

      <header class="header">
        <img src="./assets/techno.svg" alt="Techno" class="logo">
        <div class="shopping_cart">{{shoppingCartOverall | currencySymbol}} | {{shoppingCart.length}}</div>
        <ul>
          <li v-for="(item, index) in shoppingCart">
            <p>{{item.nome}}</p>
            <button @click="removeItemFromCart(index)">X</button>
          </li>
        </ul>
      </header>
      

      <section class="products">
        <div v-for="product in products" class="product" :key="product.id" @click="openModal(product.id)">
          <img :src="product.img" :alt="product.nome" class="product_img" />
          <div class="product_info">
            <span class="product_price">{{ product.preco | currencySymbol }}</span>
            <h2 class="product_title">{{ product.nome }}</h2>
          </div>
        </div>
      </section>

      <section class="modal" v-if="product" @click="closeModal">
        <div class="modal_container">
          <div class="modal_img">
            <img :src="product.img" :alt="product.nome">
          </div>
          <div class="modal_data">
          <button class="modal_close" @click="product = false">X</button>
            <span class="modal_price">
              {{ product.preco | currencySymbol }}
            </span>
            <h2 class="modal_title">{{product.nome}}</h2>                          
            <p class="modal_description">{{product.descricao}}</p>                          
            <p>{{product.estoque}}</p>
            <button v-if="product.estoque" class="modal_btn" @click="addToCart">Adicionar Item</button>
            <button v-else class="modal_btn sold_off" disabled>Produto Esgotado!</button>

          </div>
          <div class="reviews">
            <h2 class="reviews_subtitle">Avaliações</h2>
            <ul>
              <li v-for="avaliacao in product.avaliacoes" class="review">
                <p class="review_description">{{avaliacao.descricao}}</p>
                <p class="review_user">{{avaliacao.nome}} | {{avaliacao.estrelas}}</p>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </div>

    <script src="./app.js"></script>
  </body>
</html>
